.container {
  background-color: rgb(107, 155, 107);
  height: 50px;
}



/*
position reletive moves element tot he parent sometimes used in hero banners or call action boxes with text on top of image.
.reletive-position {
  position: relative;
  top: 25px;
  left: 100px;
  width: 100px;
}
